@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scrollbar-thumb-bg: #59453e;
  --scrollbar-thumb-bg-hover: #2e2522;
}

html[data-theme='dark'] {
  --scrollbar-thumb-bg: #fefefe;
  --scrollbar-thumb-bg-hover: #f2eae6;
}

#root {
  @apply w-screen h-screen;
}

.h1 {
  @apply lg:text-6xl text-4xl font-header text-readable tracking-wider;
}

.h2 {
  @apply font-header lg:text-4xl text-readable tracking-wider;
}

.subtitle-text {
  @apply lg:text-xl font-subtitle text-readable tracking-wide;
}

.body {
  @apply lg:text-lg font-body text-readable tracking-wider leading-relaxed;
}

.float-text-lg {
  @apply absolute font-subtitle lg:text-8xl text-base-100 opacity-30;
}

.float-text-sm {
  @apply absolute font-subtitle lg:text-4xl text-base-content hover:text-base-100 pointer-events-auto;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-bg);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-bg-hover);
}
